.Auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  min-width: 20rem;
}

.Auth form legend {
  text-align: center;
}

.Auth form label {
  font-size: 50%;
  color: var(--blue);
  margin-top: 0.5rem;
  align-self: start;
}

.Auth form a {
  margin-top: 0.5rem;
  text-decoration: none;
}

.Auth form button {
  margin-top: 1rem;
}
