.Button {
  background: linear-gradient(90deg, var(--blue), var(--blue-dark));
  color: #fff;
  appearance: none;
  margin: 0;
  border: 0;
  overflow: visible;
  font: inherit;
  font-weight: 400;
  text-transform: none;
  display: inline-block;
  padding: 0 2rem;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  line-height: 3rem;
  height: 3rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.Button:focus {
  outline: none;
}

.Button:hover:not(:disabled) {
  background: linear-gradient(90deg, var(--blue), var(--blue));
}

.Button:disabled {
  opacity: 0.8;
}
