:root {
  --blue: #0069ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
}

::selection {
  background: var(--blue);
  color: #fff;
  text-shadow: none;
}

*:focus {
  outline: none;
}
